* {
  box-sizing: border-box;
  text-align: center;
}
table {
  width: 450px;
  border: 1px solid rgb(161, 210, 216);
  box-shadow: 6px 6px 6px rgba(143, 215, 233, 0.36);
}
td {
  padding: 5px;
  border-right: 1px solid rgb(161, 210, 216);
  box-shadow: 6px 6px 6px rgba(143, 215, 233, 0.36);
}
td:last-child {
  border-right: none;
}
.del-product, .edit-product {
  background-color: #ecefff;
  padding: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid rgb(161, 210, 216);
  box-shadow: 6px 6px 6px rgba(143, 215, 233, 0.36);
  border-radius: 20px;
}

