* {
  box-sizing: border-box;
  text-align: center;
}
.add-product {
  background-color: #ecefff;
  padding: 5px;
  width: 130px;
  height: 40px;
  border: 1px solid rgb(161, 210, 216);
  box-shadow: 6px 6px 6px rgb(143 215 233 / 36%);
  border-radius: 20px;
  position: absolute;
  top: 10%;
  left: 2%;
}
