.post {
  margin-top: 20px;
  border: 1px px solid rgb(161, 210, 216);
  box-shadow: 5px 3px 6px 6px rgb(143 215 233 / 36%);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #ecefff;
  padding: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid rgb(161, 210, 216);
  box-shadow: 6px 6px 6px rgba(143, 215, 233, 0.36);
  border-radius: 20px;
}
button:hover {
  background-color: #ffffff;
}
